doctype html
html(lang='en')
  head
    title Toast Grid
    link(rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8")
    meta(name="viewport" content="width=device-width")
  body
    .container
      include includes/_grid-markup.jade
  
